.item {

  &__name {
    @include text-style(1.6rem, 700, $black-color);
    margin-bottom: 60px;
  }

  &__text {
    @include text-style(1.6rem, 500, $black-color);
    margin-bottom: 20px;
  }

  &__children {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__child {
    padding: 10px 20px;
    background-color: #F1F1F1;
    border-radius: 5px;
    @include text-style(1.6rem, 700, #000000);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__placeholder {
    @include text-style(1.4rem, 400, rgba($black-color, .8));
  }
}