.preview {
  padding-top: 30px;
  width: 616px;
  margin: 0 auto;

  &__title {
    @include text-style(1.6rem, 500, $black-color);
    margin-bottom: 20px;
  }

  &__items {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba($black-color, .8);
    }
  }

  &__placeholder {
    @include text-style(1.4rem, 400, rgba($black-color, .8));
  }
}